name: Docs

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.variables.outputs.version }}
      ref: ${{ steps.variables.outputs.ref }}

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5

      - name: Set output variables
        id: variables
        run: |
          VERSION="${GITHUB_REF_NAME}"
          if [[ $VERSION =~ ^v[0-9].* ]]; then
            VERSION=${VERSION#"v"}
          fi
          echo "VERSION: ${VERSION}"
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

          REF="${GITHUB_REF_POINT}"
          echo "REF: ${REF}"
          echo "ref=${REF}" >> $GITHUB_OUTPUT

  build-and-deploy:
    uses: ./.github/workflows/build-and-deploy-docs.yml
    with:
      version: ${{ needs.setup.outputs.version }}
      ref: ${{ needs.setup.outputs.ref }}
    needs:
      - setup
